/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url(../../images/adao-26.jpg);
  background-position: center;
  background-repeat: space;
  background-size: cover;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  /* animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0); */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  display: block;
  font-weight: 600;
  transition: 0.6s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #5c5959;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 3.5rem;
  margin-left: 50px;
}

.sidenav .closebtn-logo {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.sidenav .sidenav-links {
  text-align: center;
  padding-top: 8rem;
}

.sidenav .sidenav-links a {
  margin-bottom: 2rem;
  font-style: italic;
}

.sidenav {
  padding-top: 1.5rem;
}
.sidenav a {
  font-size: 30px;
}

.hamburger {
  font-size: 2rem;
  color: #000;
  font-weight: bold;
}

.hamburger:hover {
  color: #5c5959;
}

/* Navbar */
nav .logo-desktop {
  /* border-radius: 10rem;
  border: 4px double #d4b35f;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.8);*/
  width: 20%;
}

nav .navbar-nav a {
  color: #000;
  font-weight: 600;
}

nav .navbar-nav .link-white {
  color: #000;
}

nav .navbar-nav .nav-btn {
  /* background-color: #d4b35f; */
  background-color: #000;
  color: #fff;
  outline: none;
  padding: 10px 2.5rem;
  border-style: none;
  border-radius: 5px;
  font-weight: 600;
}

nav .navbar-nav .nav-btn:hover {
  background-color: #5c5959;
  color: #fff;
}

nav .navbar-nav .active {
  color: green;
}

.navbar-nav .current-active {
  color: #d4b35f;
  border-bottom: 3px solid #d4b35f;
}

/* .navbar-nav .contact-active {
  color: #d4b35f;
  border-bottom: 3px solid #d4b35f;
} */

.mobile-nav {
  width: 100%;
}

.mobile-nav .logo-mobile {
  width: 60%;
}

.mobile-nav .logo-overlap-mobile {
  width: 30%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
} */
