#main-exhibitions {
  background-color: #f8f8f8;
  padding: 0 0 7rem;
}

main .gallery-section {
  padding: 1rem 0;
}

main .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
}

main .grid-container .exhibit-column {
  display: flex;
  flex-direction: column;
}

main .grid-container .exhibit-column .nested-columns {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 10px;
}

main .grid-container .exhibit-column img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.4s;
  object-fit: contain;
}

main .grid-container .exhibit-column img:hover {
  transform: scale(1.1);
  border-radius: 8px;
}

main .grid-container .exhibit-column .card-image {
  overflow: hidden;
}

main .gallery-section .gallery-buttons {
  position: absolute;
  top: 100%;
  left: 45%;
  font-size: 5rem;
}

main .gallery-section .gallery-buttons button {
  padding: 7px;
  margin-right: 1.2rem;
  background-color: #201f1f;
  border-radius: 50%;
  border-style: none;
}

main .gallery-section .gallery-buttons button:hover {
  background-color: #615f5f;
}

@media (min-width: 375px) and (max-width: 576px) {
  .mobile-carousel {
    background-color: #3d3636;
  }

  .mobile-carousel .slide-container {
    height: 100vh;
  }

  .mobile-carousel .gallery-image {
    text-align: center;
  }
}
