header {
  /* background: url(../../images/adao-21.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 50, 76, 0.5)),
    url(../../images/adao-24.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header .header-hero {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

header .header-btn {
  width: fit-content;
  padding: 1rem 3rem;
  margin-top: 3rem;
  background-color: #d4b35f;
  font-weight: bold;
}

header .header-btn:hover {
  background-color: #efce7d;
  color: #000;
}

header .header-hero h1,
header .header-hero h5 {
  font-weight: bold;
}

header .header-hero .header-hero-text {
  width: 90%;
}

@media (min-width: 375px) and (max-width: 576px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
      url(../../images/adao-27.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
  }

  header .header-hero .header-hero-text {
    text-align: center;
    width: 100%;
  }

  header .header-hero .header-hero-text h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  header .header-hero .header-hero-text h5 {
    color: #d4b35f;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 14px;
  }

  header .header-hero .header-hero-text p {
    text-align: justify;
    font-size: 14px;
  }
}
