header {
  /* background: url(../../images/adao-21.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 50, 76, 0.5)),
    url(../../images/adao-24.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

header .header-hero {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

header .header-btn {
  width: fit-content;
  padding: 1rem 3rem;
  margin-top: 3rem;
  background-color: #d4b35f;
  font-weight: bold;
  font-style: italic;
}

header .header-btn:hover {
  background-color: #efce7d;
  color: #000;
}

header .header-hero h1,
header .header-hero h5 {
  font-weight: bold;
}

header .header-hero .header-hero-text {
  width: 90%;
}

.animate-charcter {
  text-transform: capitalize;
  background-image: linear-gradient(
    -225deg,
    #060228 0%,
    #a99caf 29%,
    #fcf413 58%,
    #690829 72%,
    #fff800 88%,
    #f4f3f4 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.mobile-heading h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: bolder;
}

.mobile-heading h2 span {
  color: #d4b35f;
  font-weight: bolder;
  font-size: 3.5rem;
}

@media (min-width: 375px) and (max-width: 576px) {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url(../../images/adao-24.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    width: 100%;
  }

  header .header-hero .header-hero-text {
    text-align: center;
    width: 100%;
  }

  header .header-hero .header-hero-text h1 {
    font-weight: bold;
    font-size: 1.2rem;
  }

  header .header-hero .header-hero-text h5 {
    color: #d4b35f;
    /* font-weight: bold; */
    font-style: italic;
    font-size: 14px;
  }

  header .header-hero .header-hero-text p {
    text-align: justify;
    font-size: 14px;
  }
}
