#main-products {
  background-color: #f8f8f8;
}

.section-heading {
  padding: 5rem 0 12px;
  border-bottom: 2px solid #c1bfbf;
  width: 8%;
  font-weight: bolder;
  font-style: italic;
}

section {
  padding: 3rem 0;
}

section .carou {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  text-align: center;
  align-items: center;
}

section .carou button {
  border: none;
  background: none;
}

section .carou button .btn-prev-next,
.carou-mobile button .btn-prev-next {
  color: #000;
  font-size: 2rem;
}

section .carou .card .card-image,
.carou-mobile .card .card-image {
  width: 100%;
  height: 45vh;
  overflow: hidden;
}

.carou-mobile .card {
  margin: 0 3.5rem;
}

section .carou .card {
  border-radius: 10px;
}

section .carou .card .card-body {
  background-color: #f4f4f4;
  height: 48vh;
  /* height: 60vh; To be applied after h6 returns */
}

section .carou .card .card-image img,
.carou-mobile .card .card-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  transition: transform 0.4s;
}

section .carou .card .card-image img:hover,
.carou-mobile .card .card-image img:hover {
  transform: scale(1.2);
}

section .card .card-body .card-icon {
  color: #5c5959;
  margin-right: 5px;
}

section .card .card-body h6 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  display: none;
}

section .card .card-body .title-paragraph {
  font-size: 10px;
  font-weight: bold;
}

.carou-mobile .card .card-body h6 {
  height: 5vh;
}

section .card .card-body .card-paragraph {
  font-size: 14px;
  font-weight: bold;
  height: 15vh;
  line-height: 12px;
}

section .card .card-body .line {
  border: 1px solid #d2d0d0;
  width: 50%;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 10px;
}

section .card .card-body .btn {
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px 0;
}

section .card .card-body .btn-first {
  background-color: #000;
  margin-bottom: 1rem;
}

section .card .card-body .btn-second {
  background-color: #5c5959;
  color: #fff;
}
