section {
  padding: 3rem 0;
  /* width: 100%; */
}

section .carou {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  text-align: center;
  align-items: center;
}

section .carou button {
  border: none;
  background: none;
}

section .carou button .btn-prev-next,
.carou-mobile button .btn-prev-next {
  color: #d4b35f;
  font-size: 2rem;
}

section .carou .card .card-image {
  width: 100%;
  height: 60vh;
  /* object-fit: contain;
  object-position: center; */
}

.carou-mobile .card {
  margin: 0 4rem;
}

section .carou .card .card-image img,
.carou-mobile .card .card-image img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* section .carou .card .card-image img:hover {
  object-fit: fill;
} */
