section {
  padding: 3rem 0;
}

section .carou {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  text-align: center;
  align-items: center;
}

section .carou button {
  border: none;
  background: none;
}

section .carou button .btn-prev-next {
  color: #d4b35f;
  font-size: 2rem;
}

section .carou .card .card-image {
  width: 100%;
  height: 60vh;
  /* object-fit: contain;
  object-position: center; */
}

section .carou .card .card-image img {
  width: 100%;
  height: 60vh;
  object-fit: fill;
}

section .carou .card .card-image img:hover {
  object-fit: cover;
}
