.error-page h4 {
  font-size: 3rem;
  font-weight: bolder;
  color: #fff;
}

.mobile-error-page {
  padding: 1rem 20px;
}

.mobile-error-page span {
  display: block;
  font-size: 5rem;
  font-weight: bold;
}

.go-back-link {
  margin-top: 3rem;
}

.go-back-link a {
  color: #000;
  text-shadow: #201f1f;
  font-weight: 700;
}

.go-back-link a:hover {
  color: #f60d0d;
}
